:root {
    --banana-color: #ffcf09;
    --offblack-color: #111827;
    --complementary-color: #FDE68A;
}

body {
    margin: 0%;
    color: var(--offblack-color);
    background-color: var(--offblack-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

nav {
    padding: 1rem;
    background-color: var(--banana-color);
    text-align: center;
    margin-bottom: 10px;
}

textarea {
    font-size: 2rem;
    display: block;
    margin: 1.5rem;
    padding: 1rem;
    min-height: 15vh;
    width: 70%;
    background-color: var(--complementary-color);
    border: 5px solid var(--banana-color);
}

#inpt-btn {
    margin-left: 1.5rem;
    padding: 1rem;
    background-color: var(--banana-color);
    width: 25vh;
    border: 5px solid #cfff04;
}

p {
    margin-left: 1.5rem;
    color: white;
}

#output-txt {
    font-size: 1.5rem;
    background-color: var(--complementary-color);
    border: 5px solid var(--banana-color);
    display: block;
    margin: 1.5rem;
    padding: 1rem;
    min-height: 10vh;
    width: 70%;
    margin-bottom: 3rm;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin: 0.5rem 1rem; */
}

footer {
    margin-top: 5rem;
    background-color: var(--banana-color);
    padding: 2rem;
    text-align: center;
    letter-spacing: 2px;
}